
body {
    background-color: #FFFAEF;
    font-family: 'Open Sans Hebrew', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

section {
    margin-left: 33%;
    margin-right: 33%;
}

header {
    background-color: #FFFAEF;
    padding: 10px;
    text-align: center;
}

nav {
    background-color: #79622B;
    color: #FFFAEF;
    padding: 10px;
    text-align: center;
    overflow: hidden;
    
}

nav a {
    color: #FFFAEF;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
}

nav a:hover {
    background-color: #C2B187;
}

nav a.active {
    background-color: #DBB559;
}

h1 {
    font-family: 'American Typewriter';
    font-weight: 400;
    text-transform: uppercase;
}

h2 {
    font-family: 'American Typewriter';
    font-weight: 400;
}

p {
    font-family: 'Open Sans Hebrew', sans-serif;
}

footer {
    text-align: center;
    padding: 3px;
  }